<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>

  <!-- 微信绑定 -->
  <script src="./static/assets/other/wxLogin/wxLogin.js"></script>
  <!-- qq绑定 -->
  <script src="./static/assets/other/qqLogin/qqLogin.js"></script>
  <!-- <script type="text/javascript"  charset="utf-8"
    src="http://connect.qq.com/qc_jssdk.js"
    ></script> -->
  <!-- data-callback="true"
    data-appid="102013783"
    data-redirecturi="https://sso.vipslib.com/cas/login?service=http://smart.vipslib.com/" -->


  <!-- 第三方插件 -->
  <link rel="stylesheet" href="./static/assets/other/layui/layui.css">
  <script src="./static/assets/other/layui/layui.js"></script>
  <script src="./static/assets/other/i18n/vue-i18n.js"></script>
  <script src="./static/assets/other/vue/vue.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
  <script src="./static/assets/other/axios/axios.min.js"></script>
  <link rel="stylesheet" href="./static/assets/other/element-ui/index.css">
  <link rel="stylesheet" href="./static/assets/other/element-ui/fonts/icon.css">
  <script src="./static/assets/other/element-ui/index.js"></script>
  <script src="./static/assets/other/Sortable/Sortable.min.js"></script>
  <script src="./static/assets/other/echars/echarts.min.js"></script>
  <link href="./static/assets/other/gridstack/gridstack.css" rel="stylesheet" />
  <link href="./static/assets/other/gridstack/gridstack-extra.css" rel="stylesheet" />
  <!-- <script src="./static/assets/other/gridstack/gridstack-h5.js"></script> -->
  <script src="./static/assets/other/tinymce/v5_5_0/tinymce.min.js"></script>

  <!-- es5 -->
  <script src="./static/assets/other/babel-polyfill/polyfill.min.js"></script>

  <!-- 项目公共文件 -->
  <!--下面两个（rxjs.umd.js/searchExpressionResolver.js）主要是针对检索框的-->
  <!-- <script src="./static/assets/other/ApplicationBuilder.js"></script> -->

  <!-- <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.htmlFileUrl %>public/css/color.css" /> -->
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.htmlFileUrl %>public/css/vipsmart-dalib3-skin.css" />
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.htmlFileUrl %>public/css/public.css" />
  <script src="<%= htmlWebpackPlugin.options.htmlFileUrl %>public/js/ApplicationBuilder.js"></script>
  <script src="<%= htmlWebpackPlugin.options.htmlFileUrl %>public/js/rxjs.umd.js"></script>
  <script src="<%= htmlWebpackPlugin.options.htmlFileUrl %>public/js/searchExpressionResolver.js"></script>
  <script src="<%= htmlWebpackPlugin.options.htmlFileUrl %>public/js/log.js"></script>

  <!-- <link rel="stylesheet" href="http://192.168.21.46:6900/public/css/color.css" />
  <link rel="stylesheet" href="http://192.168.21.46:6900/public/css/public.css" />
  <script src="http://192.168.21.46:6900/public/js/ApplicationBuilder.js"></script>
  <script src="http://192.168.21.46:6900/public/js/rxjs.umd.js"></script>
  <script src="http://192.168.21.46:6900/public/js/searchExpressionResolver.js"></script> -->

  <!-- <script src="http://202.202.12.19:800/cdn/public/js/ApplicationBuilder.js"></script>
  <link rel="stylesheet" href="http://202.202.12.19:800/cdn/public/css/public.css" />
  <link rel="stylesheet" href="http://202.202.12.19:800/cdn/public/css/color.css">
  <script src="http://202.202.12.19:800/cdn/public/js/rxjs.umd.js"></script>
  <script src="http://202.202.12.19:800/cdn/public/js/searchExpressionResolver.js"></script> -->

  <!-- <link rel="stylesheet" href="https://smart.vipslib.com/cdn/public/css/color.css" />
  <link rel="stylesheet" href="https://smart.vipslib.com/cdn/public/css/public.css" />
  <script src="https://smart.vipslib.com/cdn/public/js/ApplicationBuilder.js"></script>
  <script src="https://smart.vipslib.com/cdn/public/js/rxjs.umd.js"></script>
  <script src="https://smart.vipslib.com/cdn/public/js/searchExpressionResolver.js"></script> -->

</head>

<body>
  <div id="zt_user_center_sys"></div>
  <script>
    // 阻止火狐浏览器拖动时打开新的标签页
    document.body.ondrop = function (event) {
      event.preventDefault();
      event.stopPropagation();
    }
  </script>
</body>

</html>