@charset "UTF-8";

.template1 {
    .skin_template(#972C25, #be3c3c, #eb5f3c, #f93549);
}

.template2 {
    .skin_template(#1d3c65, #204370, #3270bf, #0570fd);
}




@m-col-b0: #fff;
@fc: #fcfcfc;
@f2: #f2f2f2;
@f8: #f8f8f8;
@23: #232323;
@3a: #3a3a3a;
@ph-col-n15: #333;
@3e3f42: #3e3f42;
@555: #555;
@5f: #5f5f5f;
@ph-col-n16: #666;
@777: #777;
@6b: #6b6b6b;
@8b: #8b8b8b;
@ph-col-n8: #999;
@aaa: #aaa;
@a6: #a6a6a6;
@a2968e: #a2968e;
@9ea0a5: #9ea0a5;
@e0dfdf: #e0dfdf;
@d6: #d6d6d6;
@ccc: #ccc;
@de: #dedede;
@eee: #eee;
@dceaf5: #dceaf5;
@d5e2e3: #d5e2e3;


@bg_clear: rgba(0, 0, 0, 0); //透明背景
@border_b_shadow: 0 2px 5px rgba(0, 0, 0, .15); //底部边框投影
@border_r_shadow: 5px 0 10px rgba(0, 0, 0, .05); //右边框投影

//通用模板
.skin_template(@main: #972C25, @child_color: #be3c3c, @child_color1: #eb5f3c, @check_color: #f93549, @child_color3: #eb5f3c, @child_color3: #eb5f3c) {
    .child_color_hover {
        &:hover {
            background-color: @child_color;
        }
    }

    .child_color_text_hover {
        &:hover {
            color: @child_color  !important;
        }
    }

    .next_hover:hover {
        .n_hover {
            background-color: @child_color  !important;
        }
    }

    .boxshadow(@right_left: 5px, @bottom_top: 5px, @box :5px, @box_color: #b6ebf7) {
        box-shadow: @arguments;
    }

    .main_bg {
        background-color: @main;
    }

    .child_bg {
        background-color: @child_color  !important;
    }

    .child1_bg {
        background-color: @child_color1  !important;
    }

    .child_border_bottom {
        border-bottom: 1px solid @child_color;
    }

    .check_color_bg {
        background-color: @check_color  !important;
    }

    .check_color_hover {
        &:hover {
            background-color: @check_color  !important;
        }
    }

    .main_text_color {
        color: @main;
    }

    .child_text_color {
        color: @child_color;
    }
}



























//模板二
// .skin_template2(){
//     @main:blue;
//     @child_color:#5f5ffd;
//     @child_color_hover:  darken(@child_color,20%);
//     .boxshadow(@right_left:5px,@bottom_top:5px,@box :5px,@box_color:#b6ebf7){
//         box-shadow:@arguments;
//        -moz-box-shadow:@arguments;
//        -webkit-box-shadow:@arguments;
//     }
//     .bg{
//         background-color: @main;
//         .boxshadow(7px,7px,7px,black);
//         &:hover{
//             background: @child_color_hover;
//         }
//     }
// }