@charset "UTF-8";

//普通样式
.hover-op {
  cursor: pointer;

  &:hover {
    opacity: .8;
  }
}

.hover-line {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 原子化样式
.color-red {
  color: #F56C6C;
}