@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-width: 100%;
  min-height: 100%;
  font-size: 14px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

a {
  line-height: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

iframe {
  border: none;
}

.c-l:after {
  content: " ";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}

/**禁止文字被选中*/
.n-text-select {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.m-width {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/*********文献类型************/
.text-qkwx {
  content: "期刊文献";
  background-color: #1BA6B5;
}

.text-ts {
  content: "图书";
  background-color: #E76809;
}

.text-hylw {
  content: "会议论文";
  background-color: #00B06C;
}

.text-xwlw {
  content: "学位论文";
  background-color: #093394;
}

.text-biz {
  content: "标准";
  background-color: #CD2627;
}

.text-zl {
  content: "专利";
  background-color: #0BA5DF;
}

.text-flfg {
  content: "法律法规";
  background-color: #2262E1;
}

.text-cg {
  content: "成果";
  background-color: #E82A2A;
}

.text-bz {
  content: "报纸";
  background-color: #F58C23;
}

.text-dmt {
  content: "多媒体";
  background-color: #A046D4;
}

.text-zx {
  content: "资讯";
  background-color: #FF0000;
}
